@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: 'Inter';
  transition: transform .2s;
}

a {
  text-decoration: none;
  color: #000000;
}


.nav-acessibilidade {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}



.nav-acessibilidade .nav-item {
  display: flex;
  flex: auto;
  max-width: 166px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  max-height: 40px;
  border-radius: 12px;
  border: solid 1px #eee;
  background-color: #fafafa;
}

@media screen and (max-width: 1199.9px) {
  .nav-acessibilidade .nav-item {
    margin: 0.25rem;
  }
}

@media only screen and (max-width: 991px) {
  .nav-acessibilidade .nav-item {
    max-width: 100%;
  }
}

.nav-acessibilidade .nav-item a {
  font-size: .75rem;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-height: 38px;
}

.nav-acessibilidade .nav-item:first-child {
  margin-left: 0;
}

.nav-acessibilidade .nav-item:last-child {
  margin-right: 0;
}

.nav-acessibilidade .nav-item .input {
  height: auto;
  max-height: 38px;
  padding: 10px;
  padding-right: 5px;
  background-color: transparent;
  border: none;
  font-size: .75rem;
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.container-logo .row .logo {
  margin-top: 16px;
  text-align: center
}

.nav-item:hover {
  background-color: #0277bd;
}

.nav-item:hover a {
  color: white;
}

.nav-item:hover .input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.nav-item:hover path {
  fill: #ffffff;
}


.input::placeholder {
  color: #000000;
  opacity: 1;
}

.bgBlue-200 {
  background: #01579b;
}

.navbarItem1 {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 30px;
  border-radius: 24px;
  background-color: #eceff1;
  height: 5.875rem !important;
}


.col-box {
  background-color: #eceff1;
  border-radius: 20px;
  padding-block: 13px;
  margin-block: 16px;
}

.col-box figure {
  text-align: center;
  margin: auto;
}

.col-box:hover {
  color: #01579b;
}

.col-box:hover path {
  fill: #01579b;
}

@media (min-width: 992px) {
  .logo {
    text-align: left !important;
  }
}

.title {
  font-size: 1rem;
  min-height: 38px;
  margin-top: 4px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: bold;
}

.navbarItem1 :hover {
  color: #01579b;
}

.navbarItem1 :hover path {
  fill: #01579b;
}

.navbarItem1 figure {
  margin: 0;
}

.navbarItem1 figure img {
  display: initial;
}




.slider .btnSlider:hover {
  transform: scale(1.1);
}

.slider .btnSlider:active {
  transform: scale(0.9);
}

.slider2 .btnSlider2:hover {
  transform: scale(1.1);
}

.slider2 .btnSlider2:active {
  transform: scale(0.9);
}

.slider2 .slick-dots {
  position: initial;
}


.slider2 .slick-list a {
  padding-inline: 16px;
}

.slider3 .border-end {
  padding-inline: 1rem;
}

.slider3 .slick-arrow {
  border: solid 1px #dee2e6;
  border-radius: 50%;
}

.slider3 .slick-dots {
  position: initial;
}

.slider3 .slick-list {
  padding-top: 30px;
  padding-bottom: 15px;
}

.slider3 .btnSlider3:hover {
  transform: scale(1.1);
}

.slider3 .btnSlider3:active {
  transform: scale(0.9);
}

.slider4 .slick-dots {
  position: initial;
}

.slider4 .btnSlider3:hover {
  transform: scale(1.1);
}

.slider4 .btnSlider3:active {
  transform: scale(0.9);
}

.btnSlider {
  height: 48px;
  width: 72px;
  display: block;
  position: absolute;
  top: 50%;
  z-index: 99;
}

.btnSlider2 {
  height: 48px;
  display: block;
  position: absolute;
  top: 25%;

}

.btnSlider3 {
  height: 48px;
  display: block;
  position: absolute;
  top: 50%;
  z-index: 99;
}


#btnEsq {
  left: 2%;
}

#btnDir {
  right: 2%;
}

#btnEsq2 {
  left: -4%;
}

#btnDir2 {
  right: -4%;
}

#btnEsq3 {
  left: -3%;
}

#btnDir3 {
  right: -3%;
}

#btnEsq4 {
  left: 2%;
}

#btnDir4 {
  right: 2%;
}

.zoom-foto {
  padding-inline: 0.5rem;
}

.zoom-foto:hover img {
  transform: scale(1.01);
}

.zoom-foto:hover figcaption {
  text-decoration: underline;
}



.bgBlue-100 {
  background: #0277bd;
}

.slick-dots {
  bottom: 5px !important;

}

.slick-dots li {
  width: 48px !important;
  height: 8px !important;
  flex-grow: 0;
  margin: 2px 12px;
  background-color: #b3e5fc;
  border-radius: 8px;
}

.slick-dots li button {
  width: 48px !important;
  height: 8px !important;
  flex-grow: 0;
  margin: 2px 12px;
  background-color: #b3e5fc;

}

.slick-dots .slick-active button {
  height: 12px;
  flex-grow: 0;
  margin: 0 12px 0 0;
  background-color: #03a9f4;
  border-radius: 8px;
}

.slick-dots li button:before {
  display: none !important;

}

.borderImg {
  border-radius: 24px;
  border: solid 1px #eee;
  position: relative;
}

.borderImg .info {
  padding-top: 16px;
  padding-inline: 30px;
  padding-bottom: 30px;
}

.borderImg .info {
  margin: 0;
}

.colorBlue {
  color: #01579b;
}

.date {
  margin-left: 30px;
  top: 36px;
  border-radius: 12px;
  font-size: small;
  background: #4fc3f7;
}

.date-slider {
  border-radius: 12px;
  font-size: small;
  background: #4fc3f7;
}



.slider3 {
  border-width: 10px;
}

.slider4 .slick-slide {
  transform: scale(0.82);
  transition: 0.3s;
}

.slider4 .slick-center {
  transform: scale(1);
  transition: 0.3s;
}

.grey {
  color: #616161;
}

.small {
  font-size: small;
}


.ytb {
  aspect-ratio: 16/9;
  border-radius: 25px;
  overflow: hidden;
}

.ytb .player,
.ytb iframe {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.ytb .player {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.video {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.img-video {
  width: 64px;
}

/* Parallax */

#cidade {
  background-image: url(assets/cidade.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}

/* Navbar */

.list :hover {
  background-color: #01579b;
}

/* Noticias */

.noticias {
  margin-top: 32px;
}

.mb-32 {
  margin-block: 32px;
}

.zoom {
  overflow: hidden;
}

.zoom .borderImg {
  min-height: 457px;
}

@media screen and (max-width: 1199px) {
  .zoom .borderImg {
    min-height: 385px;
  }
}

@media screen and (max-width: 991px) {
  .zoom .borderImg {
    min-height: 340px;
  }
}

@media screen and (max-width: 767px) {
  .zoom .borderImg {
    min-height: auto
  }
}

@media screen and (max-width: 767px) {
  .banner {
    margin-block: 15px;
  }
}

.banner {
  margin-bottom: 32px;
}

.galeria {
  padding-top: 48px;
  padding-bottom: 29px;
}

.vinheta {
  position: relative;
  z-index: 1;
}

.vinheta::after {
  content: "";
  width: 100%;
  height: 16px;
  border-radius: 10px;
  background-color: #4fc2f747;
  position: absolute;
  z-index: -1;
  top: 16px;
  left: -3px;
}



.zoom :hover {
  color: #01579b;
}

.zoom :hover img {
  transform: scale(1.01);
}

.zoom :active {
  color: black;
}

.zoom img:active {
  transform: scale(1);
}

.zoom-evento {
  padding: 10px;
}

.zoom-evento:hover img {
  transform: scale(1.01);
}

.zoom-evento:hover figcaption,
.zoom-evento:hover p {
  color: #01579b;
}

.colorb:hover {
  color: #01579b;
}

.text-sub p:hover {
  text-decoration: underline;
}

.parallax {
  margin-bottom: 80px;
  overflow: hidden;
}

.parallax .padding {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 500px) {
  .parallax .padding {
    padding-bottom: 2px;
    padding-top: 0px;
  }
}

.parallax .absolute {
  top: 0;
  position: absolute;
}

.parallax .bg-white {
  display: flex;
  justify-content: center;
  padding-block: 1.5rem;

}

.footer {
  padding: 0;

}

.footer h4 {
  margin-top: 24px;
}

.footer .col-12 {
  margin-bottom: 41px;
}

.rodape {
  margin-top: 28px;
  margin-bottom: 16px;
}


@media screen and (min-width: 767px) {
  .rodape .end {
    text-align: end;
  }
}

@media screen and (max-width: 767px) {
  .rodape {
    text-align: center !important;
  }
}