@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: 'Inter';
  }

a {
  text-decoration:none;
  color: #000000;
}

.BG {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: solid 1px #eee;
    background-color: #fafafa;
    font-size: small;
  }

.BG a {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  border-radius: 12px;
  transition: 0.2s;
}

.BG a:hover {
  background-color: #0277bd;
  color: white;
}

.BG a:active {
  background-color: #01579b;
  color: white;
}
  
.BG form {
  flex-wrap: nowrap;
}

.input {
  /* color: #000000; */
  border-radius: 12px;
  width: 145px;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1; /* Firefox */
}

.bgBlue-200 {
    background: #01579b;
}

.navbarItem1 {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 30px;
  border-radius: 24px;
  background-color: #eceff1;
  height: 5.875rem !important;
}

.navbarItem1 :hover {
  color: #01579b;
}

.navbarItem1 :hover path{
  fill: #01579b;
}

.navbarItem1 figure {
  margin: 0;
}

.navbarItem1 figure img{
  display: initial;
}



.slider .btnSlider:hover {
  transform: scale(1.1);
}

.slider .btnSlider:active {
  transform: scale(0.9);
}

.slider2 .btnSlider2:hover {
  transform: scale(1.1);
}

.slider2 .btnSlider2:active {
  transform: scale(0.9);
}

.slider3 .btnSlider3:hover {
  transform: scale(1.1);
}

.slider3 .btnSlider3:active {
  transform: scale(0.9);
}

.slider4 .btnSlider3:hover {
  transform: scale(1.1);
}

.slider4 .btnSlider3:active {
  transform: scale(0.9);
}

.btnSlider {
  height: 48px;
  width: 48px;
  display: block;
  position: absolute;
  top: 50%;
  z-index: 99;
  transition: transform .2s;
}

.btnSlider2 {
  height: 48px;
  display: block;
  position: absolute;
  top: 25%;
}

.btnSlider3 {
  height: 48px;
  display: block;
  position: absolute;
  top: 40%;
  z-index: 99;
}


#btnEsq {
  left: 2%;
}

#btnDir {
  right: 2%;
}

#btnEsq2 {
  left: -2%;
}
  
#btnDir2 {
  right: -4%;
}
  
#btnEsq3 {
  left: -3%;
}
  
#btnDir3 {
  right: -3%;
}

#btnEsq4 {
  left: 2%;
}
  
#btnDir4 {
  right: 2%;
}

.zoom-foto:hover img{
  transform: scale(1.01);
}

.zoom-foto:hover figcaption{
  text-decoration: underline;
}


  
.bgBlue-100 {
  background: #0277bd;
}

.slick-dots {
  bottom: 5px !important;

}

.slick-dots li {
  width: 48px !important;
  height: 8px !important;
  flex-grow: 0;
  margin: 2px 12px;
  background-color: #b3e5fc;
  border-radius: 8px;
}

.slick-dots li button{
  width: 48px !important;
  height: 8px !important;
  flex-grow: 0;
  margin: 2px 12px;
  background-color: #b3e5fc;
  
}

.slick-dots .slick-active button {
  height: 12px;
  flex-grow: 0;
  margin: 0 12px 0 0;
  background-color: #03a9f4;
  border-radius: 8px;
}

.slick-dots li button:before {
  display: none !important;

}

.borderImg {
  border-radius: 24px;
  border: solid 1px #eee;
}

.colorBlue {
  color: #01579b;
}

.date {
  left: 30px;
  top: 30px;
  border-radius: 12px;
  font-size: small;
  background:#4fc3f7;
}

.date-slider {
  border-radius: 12px;
  font-size: small;
  background:#4fc3f7;
}



.slider3 {
  border-width: 10px;
}

.slider4 .slick-slide {
  transform: scale(0.82);
  transition: 0.3s;
}

.slider4 .slick-center {
  transform: scale(1);
  transition: 0.3s;
}

.grey {
  color: #616161;
}

.small {
  font-size: small;
}


.ytb {
  aspect-ratio: 16/9;
  border-radius: 25px;
  overflow: hidden;
}

.ytb .player, .ytb iframe { 
  position: relative;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.ytb .player {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.video {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.img-video {
  width: 64px;
}

.slider-div{
  height: 222px !important;
}
  
/* Parallax */

#cidade {
  background-image: url(assets/cidade.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}

/* Navbar */

.list :hover {
  background-color: #01579b;
}

/* Noticias */

.zoom :hover {
  color: #01579b;
}
.zoom img:hover {
  transform: scale(1.01);
}

.zoom :active {
  color: black;
}
.zoom img:active {
  transform: scale(1);
}

.zoom-evento:hover img{
  transform: scale(1.01);
}

.zoom-evento:hover figcaption, .zoom-evento:hover p{
  color: #01579b;
}

.colorb:hover {
  color: #01579b;
}

.text-sub p:hover{
  text-decoration:underline;
}